# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Expo
.expo/
.expo-shared/
web-build/
dist/

# macOS system files
.DS_Store

# Build output
build/
*.bundle
*.map
*.app
*.ipa

# Android (if ejected)
android/
*.apk
*.aar

# iOS (if ejected)
ios/
*.xcodeproj
*.xcworkspace
*.xcuserstate
*.xcuserdata
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

# Firebase configs and env files
firebaseConfig.js
configs/FirebaseConfig.js
.env
.env.*

# Editor settings (VS Code and JetBrains IDEs)
.vscode/
.idea/

# Coverage & testing
coverage/
jest-test-results.json

# OS trash
Trash-*

# Misc
*.log
npm-debug.log*
expo-debug.log

.expo-env.d.ts

expo-env.d.ts